
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.login-container {
  display: flex;
  min-height: 100vh;
  margin: 0;
  background-size: cover; /* Adjust to fit or cover as needed */
  background-repeat: no-repeat; /* Prevents repeating */
  background-position: center; /* Centers the image */
  
}


.password-input-container{
  display: flex;
  gap: 10px;
}

.password-input-container .inputs {
  flex: 1 1 90%;
  
}

.toggle-password-button {
  min-width: 40px !important;
  margin-bottom: 15px !important;
  font-size: 12px !important;
  padding: 5px !important;
}

.image-container {
  background-image: url("../assets/grocery_v1_cut.png");
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.responsive-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-box {
  background-color: rgba(255, 255, 255, 0.8);
  
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  padding: 3rem 2rem;
  width: 250px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;              /* Enable flexbox */
  flex-direction: column;     /* Stack elements vertically */
  justify-content: center;    /* Vertically center content */
  align-items: center;        /* Horizontally center content */
}

.overlay-box img{
  justify-content: center;
}


.big-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EDEDED;
}

.login-form {
  width: 100%;
  max-width: 440px;
  padding: 40px;
  background-color: #EDEDED;
  /* border-radius: 15px; */
  /* box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); */
  text-align: center;
}

.naslov {
  font-size: 28px;
  color: #3c3c3cb3;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  line-height: normal;
  font-weight: lighter;
}

#label {
  display: block;
  text-align: left;
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
  font-family: Raleway, sans-serif;
}

.inputs {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 16px;
  display: block;

}

#kupujlokalno{
  font-family: Raleway, sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #323131;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#password{
 width: 100%;
 align-content: left;
 align-self: left;
}

#email{
  width: 100%;
}


.show-hide {
  font-size: 14px;
  color: #666;
  cursor: pointer;
}

.login-form{
  width:100%;
}

.login-form button {
  font-family: Raleway, sans-serif;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: #fff;
  background-color: #b3b3b3;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  
}

.login-form .inputs {
  width: 100%; /* Ensures email and password inputs fill their parent container */
}

.inputs{
  width: 100%;
}


button:hover{
  background-color:rgba(62, 152, 30, 0.80); 
  font-family: Raleway, sans-serif;
}

.divider {
  height: 1px;
  background-color: #ddd;
  margin: 20px 0;
}

.signup-text {
  font-size: 14px;
  color: #666;
  font-family: Raleway, sans-serif;
}

.signup-button {
  display: inline-block;
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: 1px solid #999;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  text-decoration: none;
  cursor: pointer;
}

#Back{
  margin-bottom: 10px;
}

#google-btn {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 11px;
    color: #333333;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 100%;
}

#google-btn img {
    width: 30px;
    margin-right: 10px;
}

#google-btn:hover {
    background-color: #f1f1f1;
}

.toggle-password-button {
  flex: 0 1 10%;
  margin-bottom: 15px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* treba popraviti responzivnost */
@media (max-width: 1000px) {
  .login-container {
    flex-direction: column;
    align-items: center;
    background: none;
    background-image: url("../assets/grocery_v1.png");
  }

  .image-container {
    width: 100%;
    height: 300px;
    
  }

  .big-container {
    width: 100%;
    padding: 20px;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); 
  }

  .overlay-box {
    width: 100%;
    max-width: 250px;
  }

  .login-form {
    width: 100%;
    max-width: 380px;
    padding: 20px;
  }
}