@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../assets/grocery_v1.png');
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    width: 100%;
}


*{
    user-select: none;
  
  }

.signup-container .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    padding: 20px;
    background-color: #EDEDED;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.form-box {
    width: 100%;
    text-align: center;
    font-family: Raleway, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

.form-box h2 {
    margin-bottom: 30px;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 28px;
    color: #3c3c3cb3;
    margin-bottom: 20px;
    font-family: Raleway, sans-serif;
    line-height: normal;
    font-weight: lighter;
}


.form-group {
    display: flex;
    gap: 10px;
}

.forms{
    display: flex;
    flex-direction: column; /* Keeps inputs aligned vertically */
    width: 100%;
}

.form-group input[type="text"] {
    width: 100%;
}

.signup-inputs {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    font-family: Raleway, sans-serif;
}

.signup-buttons{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #b3b3b3;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-family: Raleway, sans-serif;
}

.signup-buttons:hover{
    background-color:rgba(62, 152, 30, 0.80); 
    font-family: Raleway, sans-serif;
  }

.signup-inputs{
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 16px;
}

.divider {
    height: 1px;
    background-color: #ddd;
  }

#home, #email, #pass{
    width: 100%;
    justify-content: left;
    justify-items: left;
}

#Back{
    margin-bottom: 15px;
}

.toggle-password-button-signup{
    
        margin-bottom: 15px !important;
        font-size: 12px !important;
    flex: 0 1 10%;
    margin-bottom: 15px;
    font-size: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #b3b3b3;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-family: Raleway, sans-serif;
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }